[Unit]
Description=max17205 battery monitor service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/battery_monitor
User=root

[Install]
WantedBy=multi-user.target
